.playerMovement {
    position: absolute;
<<<<<<< HEAD
=======
    top: 700px;
>>>>>>> 796aab34756d12c77e83802a5ac34553e702424e
    height: 45px;
    width: 53px;  
    background: url('/assets/textures/sprite_course.png/');
    animation: movement 0.7s steps(6) infinite; 
    transform : scaleX(-1)
}
.player {
    position: absolute;
    height: 60px;
    width: 36px;
    left: 15px;
    background: url('/assets/Sprites/sprite_course_perso/perso_debout.png/');
    transform: scaleX(-1); 
}

.playerJump{
    position : absolute;
    height:66px;
    width: 79px;
    transform: scaleX(-1);
    background: url('/assets/textures/saut.png/');
    animation : jump 0.9s steps(9);
}

@keyframes movement {

from {background-position : 0px;}
to {background-position: -318px;}

}

@keyframes jump {

    from{background-position : 0px;}
    to{background-position: -710px}
}

