<div [ngClass]="{

        'player' : gameService.move === 0 && loop.jump !== 1 && gameService.isOnFire === 0,
        'playerMovement' : (gameService.move === 1 || gameService.move === 2) && loop.jump === 0 && gameService.isOnFire === 0,
        'playerJump' : loop.jump > 0 && gameService.isOnFire === 0 && loop.jumpDown === 0,
        'jumpDown' : loop.jumpDown === 0,
        'onFire' : gameService.isOnFire === 7 ,
        'finTir' : gameService.isOnFire === 8 ,
        'isDead' : gameService.death === 9 ,
        'dash' : gameService.dash === 10 

     }" [ngStyle]="{'transform': 'translateX(' + gameService.playerX + 'px) translateY('+gameService.playerY +'px) scaleX('+ gameService.playerScaleX + ')','top': gameService.playerY }"
       ></div>


  <div *ngFor="let tir of gameService.fireBalls">
    <div class="fireball"
        [ngStyle]="{'transform': 'translateX(' + tir.posX + 'px) translateY('+tir.posY +'px)'}"
    >
  </div>
  
  </div>
