<div [ngClass]="{
        'player' : gameService.move === 0 && loop.jump !== 1 && gameService.isOnFire === 0 && loop.jumpDown === 3,
        'playerMovement' : (gameService.move === 1 || gameService.move === 2) && loop.jumpDown === 3 && gameService.isOnFire === 0 ,
        'onFire' : gameService.isOnFire === 7 && loop.jumpDown === 3,
        'finTir' : gameService.isOnFire === 8 && loop.jumpDown === 3,
        'isDead' : gameService.death === 9 && loop.jumpDown === 3,
        'jumpUp' : loop.jumpDown === 1,
        'jumpDown' : loop.jumpDown === 0
     }" [ngStyle]="{'transform': 'translateX(' + gameService.playerX + 'px) translateY('+gameService.playerY +'px) scaleX('+ gameService.playerScaleX + ')','top': gameService.playerY }"
       ></div>


  <div *ngFor="let tir of gameService.fireBalls">
    <div class="fireball"
        [ngStyle]="{'transform': 'translateX(' + tir.posX + 'px) translateY('+tir.posY +'px)'}"
    >
  </div>
  
  </div>
