<div [ngClass]="{

        'player' : gameService.move === 0 && gameService.isOnFire === 0 && gameService.playerStat !== 11 && gameService.kick !==13,
        'playerMovement' : gameService.move !== 0 && loop.jump === 0 && gameService.isOnFire === 0 && gameService.playerStat !== 11 &&  gameService.kick !==13,
        'jumpUp' : loop.jump > 0 && gameService.isOnFire === 0 && (loop.jumpNumber === 0 || loop.jumpNumber === 2 ) && gameService.death !== 9 && gameService.playerStat !== 11 && gameService.kick !==13 ,
        'jumpDown' : loop.jump > 0 && gameService.isOnFire === 0 && loop.jumpNumber === 1  && gameService.death !== 9 && gameService.playerStat !== 11 && gameService.kick !==13,
        'onFire' : gameService.isOnFire === 7 && gameService.playerStat !== 11 && gameService.kick !==13,
        'finTir' : gameService.isOnFire === 8 && gameService.playerStat !== 11 && gameService.kick !==13,
        'isDead' : gameService.death === 9 && gameService.playerStat !== 11 && gameService.kick !==13,
        'ninjaStatic' : gameService.move === 0 && gameService.isOnFire === 0 && gameService.playerStat === 11 && gameService.kick !==13,
        'ninjaWalk' :  gameService.move !== 0  && gameService.isOnFire === 0 && gameService.playerStat === 11  ,
        'ninjaAxe' : gameService.isOnFire === 12 && gameService.playerStat === 11 && gameService.kick !==13 ,
        'ninjaKick' : gameService.kick === 13 && gameService.playerStat === 11

     }"
  [ngStyle]="{'transform': 'translateX(' + gameService.playerX + 'px) translateY('+gameService.playerY +'px) scaleX('+ gameService.playerScaleX + ')'}">
</div>

<div *ngFor="let axe of gameService.axes">
  <div class="Axes" [ngStyle]="{'transform': 'translateX(' + axe.posX +'px) translateY(' + axe.posY +'px)'}">

  </div>
</div>
<div *ngFor="let tir of gameService.fireBalls">
  <div class="fireball" [ngStyle]="{'transform': 'translateX(' + tir.posX + 'px) translateY('+tir.posY +'px)'}">
  </div>

</div>