.background {
  background: url("/assets/textures/fond1.png");

  /* On met en place le fond d'écran */
  min-height: 1024px;
  min-width: 1024px;
  /* On indique un redimensionnement proportionnel */
  width: 100%;
  height: auto;
  /* L'image est positionnée en haut à gauche */
  position: fixed;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "menu";
  src: url("/assets/Police/superPolice.ttf");
}

h1 {
  font-family: "menu";
  text-align: center;
  font-size: 150px;
  opacity: 0.8;
  color: #001233;
  text-shadow: #d30255 1px 1px 5px;
}

button {
  border-radius: 12px 0 12px 0;
  background-color: #001233;
  border: none;
  color: #d30255;
  font-family: "menu";
  font-size: 50px;
  padding: 20px 20px 20px 20px;
  margin-left: 35%;
  margin-top: 20px;
  text-align: center;
  width: 400px;
  opacity: 0.8;
}

button:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
  background-color: #072b6d;
}

.dragon {
  margin-left: 48%;
  position: absolute;
  top: 25%;
  width: 50px;
  height: 72px;
  background-image: url(http://i.imgur.com/xtk0SCC.png);
  animation: moveE 1s steps(10) infinite;
}

@keyframes moveE {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -500px;
  }
}

@font-face {
  font-family: "timer";
  src: url("/assets/Police/joystix.ttf");
}

.stopwatch {
  position: absolute;
  width: 50px;
  height: auto;
  display: block;
  margin-left: 700px;
  margin-right: auto;
}

.endTime {
  font-family: "timer";
  font-size: 40px;
  margin-left: 80px;
  text-align: center;
}

.yourTime {
  font-family: "timer";
  text-align: center;
  font-size: 30px;
  top: 10%;
}
