<app-player></app-player>
<div class="game-view" [ngStyle]="{'background': 'url(assets/textures/test_fond.jpg) no-repeat fixed 100%'}">
  <div class="map">
    <div class="row" *ngFor="let row of mapService.map">
      <div class="col" *ngFor="let case of row">
        <img [src]="mapTheme.textures[case]" />
      </div>
    </div>
    <div *ngFor="let monster of mapService.monsters" class="monster" [ngStyle]="{top: '' + monster.posY * 32 + 'px', left: '' + monster.posX * 32 + 'px'}"></div> 
  </div>
</div>