.col {
    display: inline-flex;

}

div {
    height: 32px;
}

.game-view {
    overflow: scroll;
    height: 700px;
    width: 8100px;
    z-index: 1;
}

.map {
    overflow: visible;
    z-index: 1;
}