
<div class="background curseur">
   
  <h1 >COOL COOL COOL GAME</h1>

<audio id="myAudio" src="/assets/son/cool.mp3"></audio>
<button onmouseover="document.getElementById('myAudio').play()" class="button curseur" [routerLink]="['/player']">Play Game</button> <br>
<button onmouseover="document.getElementById('myAudio').play()" class="button curseur" [routerLink]="['/settings']" >Settings</button> <br>
<button onmouseover="document.getElementById('myAudio').play()" class="button curseur">Exit</button> <br>


  

<!-- <a [routerLink]="['/map']">map</a> <br>
<a [routerLink]="['/menu']">menu</a> -->
</div>
