<div class="background curseur">
    <h1>Player"s name</h1>

    <input class="playername" maxlength="13" type="text" name="player's name" placeholder="        name"> <br>
   
<div class="container">
    <button class="buttonBack curseur flex-item" [routerLink]="['/menu']">Back</button> 
    <button class="buttonPlay curseur flex-item" [routerLink]="['/map']">Play</button> 
</div>
</div>

<div class="walk"></div>
<div class="dragon"></div>
<div class="boulgi"></div>
<div class="mechant"></div>
<div class="dragonTest"></div>

    <input class="playername " maxlength="13" type="text" name="player's name" placeholder="        name"> <br>
   
<div class="flexbox">
    <button class="buttonBack curseur" [routerLink]="['/menu']">Back</button> 
    <button class="buttonPlay curseur" [routerLink]="['/map']">Play</button> 
</div>
</div>

<div class="walk"></div>

